@page "/mensajeria"

<h3>Mensajeria</h3>

<button class="btn btn-primary mb-3" @onclick="Nuevo">
    Nuevo Registro
</button>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>UnidadId</th>
            <th>UsuarioId</th>
            <th>Empresa</th>
            <th>Guia</th>
            <th>Descripcion</th>
            <th>FechaRecepcion</th>
            <th>FechaEntrega</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in lista)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.UnidadId</td>
                <td>@item.UsuarioId</td>
                <td>@item.Empresa</td>
                <td>@item.Guia</td>
                <td>@item.Descripcion</td>
                <td>@item.FechaRecepcion</td>
                <td>@item.FechaEntrega</td>

                <td>

                    <button class="btn btn-warning btn-sm"
                            @onclick="(()=>Editar(item))">
                        Editar
                    </button>

                    <button class="btn btn-danger btn-sm"
                            @onclick="(()=>Eliminar(item.Id))">
                        Eliminar
                    </button>

                </td>

            </tr>
        }

    </tbody>

</table>

@if (mostrarForm)
{

    <div class="card p-3 mt-3">

        <h5>@tituloFormulario</h5>

        <div class="mb-2">

            <label>Nombre</label>

            <input class="form-control"
                   @bind="modelo.Nombre" />

        </div>

        <div class="mb-2">

            <label>Estado</label>

            <select class="form-control"
                    @bind="modelo.Estado">

                <option>Activo</option>
                <option>Inactivo</option>

            </select>

            <DashboardCard
                Titulo="Mensajería"
                Valor="8"
                Icono="bi bi-box-seam" />

        </div>

        <button class="btn btn-success"
                @onclick="Guardar">
            Guardar
        </button>

        <button class="btn btn-secondary"
                @onclick="Cancelar">
            Cancelar
        </button>

    </div>

}

@code {

    List<ItemVM> lista = new();

    ItemVM modelo = new();

    bool mostrarForm = false;

    string tituloFormulario = "";

    protected override void OnInitialized()
    {

        lista.Add(new ItemVM { Id = 1, UnidadId="1", UsuarioId="1", Empresa="mercado libre", Guia="ab56", Descripcion="pantalon", FechaRecepcion="2026-12-02", FechaEntrega="2026-12-02"});
        lista.Add(new ItemVM { Id = 2, UnidadId = "2", UsuarioId = "2", Empresa = "amazon", Guia = "cd78", Descripcion = "camisa", FechaRecepcion = "2026-12-02", FechaEntrega = "2026-12-02" });
        lista.Add(new ItemVM { Id = 3, UnidadId = "3", UsuarioId = "3", Empresa = "linio", Guia = "ef90", Descripcion = "zapatos", FechaRecepcion = "2026-12-02", FechaEntrega = "2026-12-02" });
        

    }

    void Nuevo()
    {
        modelo = new ItemVM();
        tituloFormulario = "Nuevo Registro";
        mostrarForm = true;
    }

    void Editar(ItemVM item)
    {
        modelo = new ItemVM
        {
            Id = item.Id,
            UnidadId = item.UnidadId,
            UsuarioId = item.UsuarioId,
            Empresa = item.Empresa,
            Guia = item.Guia,
            Descripcion = item.Descripcion,
            FechaRecepcion = item.FechaRecepcion,
            FechaEntrega = item.FechaEntrega
        };

        tituloFormulario = "Editar Registro";
        mostrarForm = true;
    }

    void Guardar()
    {

        if (modelo.Id == 0)
        {

            modelo.Id = lista.Count + 1;
            lista.Add(modelo);

        }
        else
        {

            var registro = lista.First(x => x.Id == modelo.Id);

            registro.UnidadId = modelo.UnidadId;
            registro.UsuarioId = modelo.UsuarioId;
            registro.Empresa = modelo.Empresa;
            registro.Guia = modelo.Guia;
            registro.Descripcion = modelo.Descripcion;
            registro.FechaRecepcion = modelo.FechaRecepcion;
            registro.FechaEntrega = modelo.FechaEntrega;

        }

        mostrarForm = false;

    }

    void Eliminar(int id)
    {

        var registro = lista.First(x => x.Id == id);

        lista.Remove(registro);

    }

    void Cancelar()
    {
        mostrarForm = false;
    }

    public class ItemVM
    {
        public int Id { get; set; }

        public string UnidadId { get; set; }

        public string UsuarioId { get; set; }
        public string Empresa { get; set; }
        public string Guia { get; set; }
        public string Descripcion { get; set; }
        public string FechaRecepcion { get; set; }
        public string FechaEntrega { get; set; }
    }

}